body{
  margin: 0px;
  padding: 0px;
}

header{
  background-color: rgb(88, 97, 114);
  display: grid;
  grid-template-areas: "area1 area3 area2";
  height: 100px;
  color: white;
  font-size: 20px;
}

.boton{
  background-color: rgb(49, 54, 65);
  border-radius: 15px;
  height: 30px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagenHeader{
  grid-area: area1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegacion{
  grid-area: area2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.xd{
  background-color: rgb(88, 97, 114);
  display: grid;
  grid-template-areas: "area1 area2";
  font-size: 20px;

}
.subrayado{
  text-decoration: underline 1px;
}
.imagen1{
  display: flex;
  justify-content: center;
}

.textoWe{
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 70px;
  color: white;
}

#p1{
  color: rgb(219, 219, 219);
}

#p2{
  color: rgb(189, 189, 189);
}

.abajowe{
  display: flex;
  justify-content: space-around;
  width: 500px;
  align-items: center;
  color: white;
}

.botonWe{
  background-color: rgb(31, 151, 255);
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos{
  background-color: rgb(243, 243, 243);
  height: 80px;
  display: grid;
  grid-template-areas: "1 2 3 4 5";
  align-items: center;
  justify-content: space-around;
}

.vacio{
  background-color: rgb(175, 175, 175);
  height: 2px;
}

.desarrollo{
  display: grid;
  grid-template-areas: "1 2 3";
  align-items: center;
  justify-content: space-around;
  height: 500px;
}

.sector{
  text-align: center;
  color: rgb(164, 164, 164);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3{
  color: rgb(83, 88, 116);
}

.botonazul{
  background-color: rgb(101, 172, 234);
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgpro{
  display: grid;
  grid-template-areas: "1 2 3 4";
}

.cuadros img{
  width: 300px;
  height: 200px;
}

.cuadros{
  align-self: center;
  justify-self: center;
  box-shadow: 1px 1px 10px 1px rgb(140, 140, 140);
  padding: 4px;
  padding-bottom: 0px;
}
.arriba{
  display: flex;
  align-items: center;
  height: 80px;
  margin-left: 50px;
  font-size: 30px;
  color: rgb(83, 88, 116);
}

.social{
  display: grid;
  grid-template-areas: "1 2";
}

.izquierda{
  display:flex;
  flex-direction: column;
}

.imagenarea{
  align-self: center;
  justify-self: center;
  box-shadow: 1px 1px 10px 1px rgb(140, 140, 140);
  padding: 4px;
  width: 300px;
  height: 200px;
}

.imagenarea img{
  width: 300px;
  height: 200px;
}

.area{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

h4{
  font-size: 25px;
  color: rgb(114, 114, 114);
}

.gris{
  color: rgb(188, 188, 188);
}

.fecha{
  color: rgb(176, 176, 176);
}

.azulito{
  color: rgb(44, 184, 254);
}

.negrilla{
  color: black;
}

footer{
  display: flex;
  justify-content: space-between;
}
.textofooter{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
}

.logosFooter{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 16%;
}

hr{
  width: 95%;
}